<h1 class="text-center"><%= @article.title %></h1>

<p>Title: <%= @article.title %></p>
<p>Descripiton: <%= @article.description %></p>

<p><%= link_to "Edit this article", edit_article_path(@article) %></p>
<p><%= link_to "Back to articles", articles_path %></p>